{$SCHEME}://{$DOMAIN} {
	reverse_proxy angular-dev:4200
}

{$SCHEME}://api.{$DOMAIN} {
	reverse_proxy fastapi-dev:8000
}

{$SCHEME}://kiln.{$DOMAIN} {
	root * /srv/site
	file_server
}

{$SCHEME}://clay.{$DOMAIN} {
	reverse_proxy ceramic:7681
}

{$SCHEME}://bat.{$DOMAIN} {
	reverse_proxy ceramic:8082
}

{$SCHEME}://{$AUTH_HOST} {
	reverse_proxy keycloak:8080
}
